:root {
  font-family: "Open Sans", sans-serif;

}

img {
  border-radius: 28px;
}

#container {
  box-sizing: border-box;
  width: 1120px;
  margin: 88px auto 137px auto;

}

.headline {
  color: #e1624f;
  text-transform: uppercase;
  font-weight: bold;
}

p.headline {
  margin: 0;
}

h1 {
  font-size: 36px;
  margin-top: 8px;
  margin-bottom: 40;

}

#img1 {
  margin-bottom: 24px;
}

#desc_img {
  font-style: italic;
  text-align: center;
  margin-bottom: 40px;
  color: #333333;
}

hr {
  background-color: #d9d9d9;
  height: 1px;
  border: none;

}

h2 {
  margin-top: 2px;
  margin-bottom: 0px;
  font-size: 32px;
}

#subtittle_text {
  margin-top: 8px;
  margin-bottom: 0px;
  color: #333333;
}

#tittle_list {
  padding-top: 64px;
  padding-bottom: 64px;
}

ol {
  padding-left: 0px;
}

ol li {
  margin: 0px 30px;
}

#list {
  padding: 0px;

}


.list_imgs {
  margin-top: 48px;
  padding-bottom: 20px;

}

#haedong-img {
  margin-bottom: 20px;
}

h3 {
  margin: 0;
  font-size: 28px;
}

.desc-text {
  margin-top: 4px;
  margin-bottom: 0px;
  color: #333333;
}

ul {
  list-style-type: disc;
  font-size: 16px;
}

::marker {
  font-size: 28px;
  color: #333333;
  font-weight: bold;
}

ul ::marker {
  font-size: 16px;
  color: #333333;
  font-weight: bold;
}

.historia {
  color: #0c51a7;
  font-weight: bold;
}

.casais {
  color: #591b98;
  font-weight: bold;
}

.familias {
  color: #e5245e;
  font-weight: bold;
}

.orcamento {
  color: #e95e10;
  font-weight: bold;
}



#creditos {
  box-sizing: border-box;
  width: 226px;
  margin: 65px auto 48px auto;
  font-family: "Alice", serif;

}

.desc_tittle {
  font-weight: bold;
}

#hr2 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.desc_credits {
  text-align: center;
  color: #333333;
}

#heart-icon {
  vertical-align: middle;
}